<template name="App_body">
     <div class="ui top attached menu">
        <div id="menu_icon" class="ui dropdown icon item" tabindex="0">
          <i class="wrench icon"></i>
        </div>
        <div class="right menu">
          {{#if currentUser}}
            <div class="ui right aligned item">
              <a href="#" class="js-logout btn-secondary">
                {{_ 'layouts.appBody.logout'}}
              </a>
            </div>
          {{else}}
            <div class="ui right aligned item">
              <a href="{{pathFor 'signin'}}" class="btn-secondary">
                {{_ 'layouts.appBody.login'}}
              </a>
            </div>
            <div class="ui right aligned item">
              <a href="{{pathFor 'join'}}" class="btn-secondary">
                {{_ 'layouts.appBody.join'}}
              </a>
            </div>
          {{/if}}
        </div>
      </div>
    <div id="context" class="ui pushable">
      <div class="ui inverted vertical sidebar menu">
       {{> gardens_menu_page}}
      </div>
      <div id="content-container" class="pusher" height="100%">
        <div class="ui basic segment">
     	    {{> Template.dynamic template=main}}
        </div>
      </div>
    </div>                                                                                                         
</template>